<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
     <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5">
                <div class="card">
                    <div class="card-header">
                        <img src="https://img.nhandan.com.vn/Files/Images/2020/07/26/nhat_cay-1595747664059.jpg" class="img-thumbnail" alt="anhr">
                        <h5 style="text-align: center" class="mt-2">{{nfc.profile.name}}</h5>
                    </div>
                    <div class="card-body" style="font-size: 20px;text-align: center">
                        <i class="fa fa-facebook-square float-left"></i>
                        <a href="https://www.facebook.com/tranquantruong160920"  target="_blank">Facebook</a>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="card-body" style="font-size: 24px;text-align: center">
                        <i class="fa fa-instagram "></i>
                       <a href="https://www.facebook.com/tranquantruong160920" target="_blank">Instagram</a> 
                    </div>
                </div>
                <div class="card">
                    <div class="card-body"  style="font-size: 24px;text-align: center">
                        <i class="fa fa-phone "></i>
                       <a href="tel:+84344823781" target="_blank"> So dien thoai</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>