<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
     <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 mt-5">
                <div class="card">
                    <div class="card-header">
                        <img src="{{nfc.profile.img}}" class="img-thumbnail" alt="anhr" style="border-radius: 50%">
                        <h5 style="text-align: center" class="mt-2">{{nfc.profile.name ||""}}</h5>
                        <h6 style="text-align: center">{{nfc.profile.text ||""}}</h6>
                    </div>
                    
                    
                </div>
                
                @if(nfc.profile.urlFacebook == null || nfc.profile.urlFacebook == "")
                  
                @else
                <div class="card mt-2 shadow">
                    <div class="card-body " style="font-size: 20px;text-align: center;line-height: 45px">
                        {{--  <i class="fa fa-facebook-square "></i>  --}}
                        <img src="https://www.flaticon.com/svg/static/icons/svg/174/174848.svg" alt="fb" width="50px" height="auto" style="float: left">
                        <a href="{{nfc.profile.urlFacebook ||'#'}}"  target="_blank" class="text-body" style="text-decoration: none">Facebook</a>
                    </div>
                </div>
                @endif

               

                @if(nfc.profile.urlInstagram == null ||nfc.profile.urlInstagram == "")
                  
                @else
                <div class="card mt-2 shadow">
                    <div class="card-body" style="font-size: 20px;text-align: center;line-height: 45px">
                        {{--  <i class="fa fa-instagram "></i>  --}}
                        <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg" alt="ins"  width="50px" height="auto" style="float: left">
                       <a href="{{nfc.profile.urlInstagram ||'#'}}" target="_blank" class="text-body" style="text-decoration: none">Instagram</a> 
                    </div>
                </div>
                @endif
               
                @if(nfc.profile.phone == null ||nfc.profile.phone == "")
                  
                @else
                <div class="card mt-2 shadow">
                    <div class="card-body"  style="font-size: 20px;text-align: center;line-height: 45px">
                        {{--  <i class="fa fa-phone "></i>  --}}
                        <img src="https://www.flaticon.com/svg/static/icons/svg/124/124034.svg" alt="phone"  width="50px" height="auto" style="border-radius: 10px;float: left">
                       <a href="tel:+84{{nfc.profile.phone}}" target="_blank" class="text-body" style="text-decoration: none">Số điện thoại</a>
                    </div>
                </div>
                @endif

                @if(nfc.profile.email == null ||nfc.profile.email == "")
                  
                @else
                <div class="card mt-2 shadow">
                    <div class="card-body"  style="font-size: 20px;text-align: center;line-height: 45px">
                        {{--  <i class="fa fa-phone "></i>  --}}
                        <img src="https://www.flaticon.com/svg/static/icons/svg/888/888853.svg" alt="phone"  width="50px" height="auto" style="border-radius: 10px;float: left">
                       <a href="mailto:{{nfc.profile.email}}" target="_blank" class="text-body" style="text-decoration: none">{{nfc.profile.email}}</a>
                        
                    </div>
                </div>
                @endif

                @if(nfc.profile.address == null ||nfc.profile.address == "")
                  
                @else
                <div class="card mt-2 shadow">
                    <div class="card-body"  style="font-size: 20px;text-align: center;line-height: 45px">
                        {{--  <i class="fa fa-phone "></i>  --}}
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3112/3112952.svg" alt="phone"  width="50px" height="auto" style="border-radius: 10px;float: left">
                       
                       <p>{{nfc.profile.address}}</p>
                    </div>
                </div>
                @endif
                
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</body>
</html>